{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main_page</title>
  <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
  
</head>
<body>
  <header class="header">
      <div class="content">
          <img class="site-logo" src="/static/images/photo_2025-04-20_23-57-01.jpg" alt="">
              {% if login == True %}
                      
                {% else %}
            <div class="section-onder-the-header">
                        <a href="/login">
                        <img class="img-login" src="../../static/images/undraw_login_weas.svg" alt="">
                        </a>

            </div> 
                      {% endif %}
                        
            <form class="input"  action="{%url 'serching_divice'%}">
                <input class="input-1" type="text" name="form-input-in-searching">
              
                <label for="submit-searching"><img  style="display: block;"  class="searching" src="../../static/images/search-svgrepo-com.svg" ></label>
                <button  id="submit-searching" type="submit" style="display: none;"></button>
                            
                            

            </form>
                          
        </div>
  </header>
        
  <nav id="header">
    <div class="div_content_header">
      
      <p class="content-header"> تخفیف های بهاره <span style="font-weight: bold; color: #0587e3;">  ما  </span>را از دست ندهید</p>
    </div>
      <div class="div-circles">
        <p class="circle" id="hour_element">h</p>
        <p class="circle" id="min_element">m</p>
        <p class="circle" id="second">s</p>
      </div>
  </nav>
  <section >
    {% for product in prod%}

    <div class="section">

      <div class="section-img">
        <img class="section-img" style="width: 100%; height: 100% ;" src="{{product.image.url}}" alt="">
        <!-- <p class="hr"></p> -->
        <p class="section-texts"><span>{{ product.title }}</span></p>
        <p class="hr" ></p>
        <p class="section-texts">قیمت :<span> {{ product.price}} </span></p>
        <p class="hr" ></p>

        <p class="section-texts">میزان تخفیف:<span>{{ product.offer }}</span></p>

        <a  class="section-a" href="products/{{product.id}}">خرید</a>


      </div>
    </div>
    {% endfor %}

  </section>
  <footer class="footer">
      <div class="footer-div">
          <img class="footer-img" src="/static/images/enamad.png" alt="">
              <p class="p-footer">ساخته شده توسط اقا سجاد  <span>sj-kala</span></p>
              <p class="phone-number">
               <span id="phone-number1"> phone-number : <span style="font-size: 70%; color: #04fe00;">09928570193</span></span>
               <br>
               <br>
               <span id="phone-number1"> telegram-id : <span style="font-size: 70%; color: #04fe00;"> Mr-sj1234</span></span>
  
  
              </p>
  
      </div>
  
  

  </footer>
  <script src="{% static 'js/test.js' %}"></script>
  <!-- <script src="./test.js "></script> -->

</body>
</html>